
* {
  box-sizing: border-box;
}

html, body, div, h1, h2, h3,h4,h5, h6, p, blockquote, pre, img,
ins, dl, dt, dd, ol, ul, li, form, menu, label, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
input, textarea, select, button {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
}
ol, ul, li {
  list-style: none;
}
/*
100    Extra Light or Ultra Light
200    Light or Thin
300    Book or Demi
400    Normal or Regular
500    Medium
600    Semibold, Demibold
700    Bold
800    Black, Extra Bold or Heavy
900    Extra Black, Fat, Poster or Ultra Black
*/
@font-face {
  font-family: Rubik;
  src: url(fonts/Rubik-Medium.woff2) format('woff2'), url(fonts/Rubik-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url(fonts/Rubik-Regular.woff2) format('woff2'), url(fonts/Rubik-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
html, body {
  height: auto;
  font: 16px/1.46 Rubik, sans-serif;
  font-weight: 380;
}
a, button {
  transition: background-color 0.2s ease-out;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.panel {
  position: relative;
  width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 11px 2px 11px 20px;
  background-color: #fff;
  box-shadow: -1px -1px 15px 0px rgba(16,119,237,0.3);
}
.panel_moved {
  transform: translate3d(0, 0, 0);
}
.panel__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 35px;
  border-radius: 4px 0px 0px 4px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: -20px;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
  box-shadow: -3px 0px 4px 0px rgba(16,119,237,0.2);
}
.panel__icon img {
  transform: rotate(180deg);
  transition: transform 0.5s ease-out;
}
.panel__icon_opened img {
  transform: rotate(0deg);
}

.panel-main_active .panel-main__sign-in {
  display: none;
}
.panel-main_active .panel-main__filters-unlock-button,
.panel-main_active .panel-main__filters-unlock-text {
  display: none;
}
.panel-main_active .panel-main__myterms-unlock-block {
  display: none;
}
.panel-main_active .on_page__unlock-block {
  display: none;
}
.panel-main_inactive .panel-main__profile {
  display: none;
}
.panel-main_inactive .ct-slice-donut-solid {
  fill: #a5afbe !important;
}
.panel-main_inactive .chartist-tooltip {
  display: none;
}
.panel-main_inactive .panel-main__filters-reset {
  pointer-events: none;
}
.panel-main_inactive .panel-main__filters-option,
.panel-main_inactive .panel-main__filters-more {
  cursor: default;
}
.panel-main_inactive .panel-main__filters-checkbox-sub {
  background-color: #e3e8f0;
  z-index: 1;
}
.panel-main_inactive .panel-main__myterms-count {
  display: none;
}
.panel-main_inactive .panel-main__myterms-empty-block {
  display: flex;
}
.panel-main_inactive .panel-main__myterms-block .find-term__block {
  display: none;
}
.panel-main__logo {
  height: 100%;
}
.panel-main__logo-wrap {
  height: 30px;
}
.panel-main__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 20px;
  padding-right: 8px;
}
.panel-main__sign-in {
  width: 70px;
  height: 30px;
  line-height: 35px;
}
.panel-main__profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.panel-main__profile-img {
  width: 100%;
}
.panel-main__menu {
  display: flex;
  position: relative;
  width: 430px;
  padding: 0 15px;
  transform: translateX(-20px);
  border-bottom: 1px solid rgba(165,175,190,0.2);
}
.panel-main__menu-tab {
  display: inline-block;
  margin-right: 11px;
  padding: 0 5px 5px;
  border-bottom: 3px solid #fff;
  color: #000;
  font-weight: 500;
  transition: color 0.2s ease-out, border 0.2s ease-out;
}
.panel-main__menu-tab:nth-child(3) {
  margin-right: 0;
}
.panel-main__menu-tab:hover,
.panel-main__menu-tab_active {
  border-bottom: 3px solid #1077ed;
  color: #1077ed;
}
.panel-main__menu-tab_inactive {
  pointer-events: none;
  cursor: default;
}
.panel-main__myterms-count {
  position: relative;
  top: 3px;
  left: 3px;
  height: 16px;
  min-width: 14px;
  line-height: 18px;
  display: inline-block;
  padding: 0 4px;
  border-radius: 2px;
  background-color: #1077ed;
  font-size: 8px;
  color: #fff;
}
.panel-main__myterms-count_animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: pulse;
}
.panel-main__block {
  display: none;
  margin-top: 3px;
  overflow-y: auto;
  height: calc(100vh - 184px);
}
.panel-main__block::-webkit-scrollbar {
  width: 4px;
}
.panel-main__block::-webkit-scrollbar-thumb {
  background-color: #a5afbe;
  border-radius: 2px;
}
.panel-main__filters-block {
  position: relative;
  height: calc(100vh - 184px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 3px;
  padding-top: 14px;
  transition: opacity 0.5s ease-out;
}
.panel-main__filters-block::-webkit-scrollbar {
  width: 4px;
}
.panel-main__filters-block::-webkit-scrollbar-thumb {
  background-color: #a5afbe;
  border-radius: 2px;
}
.panel-main__filters-developer {
  display: none;
  width: 250px;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}
.panel-main__filters-list {
  display: none;
}
.panel-main__filters-option {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  cursor: pointer;
}
.panel-main__filters-option span {
  display: inline-block;
}
.panel-main__filters-option input {
  display: none;
}
.panel-main__filters-option input:checked ~ .panel-main__filters-name:before {
  content: "\F00C";
}
.panel-main__filters-option input:checked ~ .panel-main__filters-checkbox-sub-background {
  display: block !important;
}
.panel-main__filters-option-addition {
  display: none;
  padding-left: 35px;
  overflow: hidden;
  transition: height 0.5s ease-out;
}
.panel-main__filters-reset {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #a5afbe;
  font-size: 14px;
}
.panel-main__filters-reset-icon {
  width: 15px;
  margin-right: 10px;
}
.panel-main__filters-reset:hover .panel-main__filters-reset-text {
  text-decoration: underline;
}
.panel-main__filters-more {
  margin: 0 5px;
  font-size: 10px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}
.panel-main__filters-more_active {
  transform: rotate(180deg);
}
.panel-main__filters-checkbox-sub {
  position: relative;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border: 2px solid #c9cfd8;
  border-radius: 5px;
}
.panel-main__filters-checkbox-sub-background {
  position: absolute;
  top: 4px;
  left: 0;
  display: none !important;
  width: 16px;
  height: 16px;
  border-radius: 5px;
}
.panel-main__filters-name {
  font-size: 14px;
}
.panel-main__filters-name:before {
  position: absolute;
  top: 6px;
  left: 4px;
  font-family: 'FontAwesome';
  font-size: 9px;
}
.panel-main__filters-count {
  position: relative;
  top: -1px;
  height: 16px;
  margin-left: 2px;
  padding: 0 4px;
  border: 2px solid #c9cfd8;
  border-radius: 5px;
  color: #c9cfd8;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  line-height: 15px;
}
.panel-main__filters-unlock-text {
  width: 85%;
  font-size: 14px;
}
.panel-main__filters-unlock-button {
  width: 85%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.panel-main__filters-unlock-icon {
  width: 25px;
  margin-right: 10px;
}
.panel-main__myterms-unlock-block {
  position: absolute;
  top: 0;
}
.panel-main__myterms-unlock-text {
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;
}
.panel-main__myterms-unlock-btn {
  width: 85%;
  height: 50px;
}
.panel-main__myterms-empty-block {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel-main__myterms-empty-text {
  font-weight: 500;
  text-align: center;
  width: 150px;
}
.panel-main__myterms-empty-icon {
  position: relative;
  top: 2px;
  color: #f9ae64;
  font-size: 23px;
  margin: 0px 4px;
}
.panel-main__myterms-empty-img {
  margin-bottom: 5px;
}
@-moz-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(2.5, 2.5, 2.5);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.5, 1.5, 1.5);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(2.5, 2.5, 2.5);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.5, 1.5, 1.5);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@-o-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(2.5, 2.5, 2.5);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.5, 1.5, 1.5);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(2.5, 2.5, 2.5);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.5, 1.5, 1.5);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.panel-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 350px;
  padding: 11px 30px 11px 30px;
  background-color: #fff;
  border-top: 1px solid rgba(165,175,190,0.2);
}
.panel-footer__label {
  display: block;
  margin-bottom: 3px;
  color: #a5afbe;
  font-size: 13px;
}
.panel-footer__share-link {
  margin-right: 7px;
  color: #727983;
}
.panel-footer__share-link:hover {
  color: #1077ed;
}
.panel-footer__mail {
  color: #242629;
  font-size: 13px;
}

@-moz-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
