

/*General Styling*/
sidebar-arrow{
  box-sizing: border-box;
}

*{
  box-sizing: content-box;
}

html, body {
  box-sizing: border-box;
  height: auto;
  font: 20px 'Roboto', sans-serif;
  font-weight: 380;
}
a.classic-href {
  transition: background-color 0.2s ease-out;
  color: #137DE8;
  size
  outline: none;
  cursor: pointer;
  font-size: 13px;
}

a.classic-href:hover {
  transition: background-color 0.2s ease-out;
  color: #2F21FF;
  outline: none;
  cursor: pointer;
  font-size: 13px;
}

a, button {
  transition: background-color 0.2s ease-out;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}


i {
  font-size: 14px;
}

h3.blue-headline {
  text-decoration: none;
  outline: none;
  font: 18px 'Roboto', sans-serif;
  font-weight: 380;
  color:#137DE8;
}


/* --------First View Screen -----------*/
#start-screen-logo{
    width: 26%;
    box-sizing: content-box;
    padding-left: 37%;
    padding-right: 37%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10%;
}

#slogan-span{
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.white-box {
  background-color: #fff1f129;
  opacity: 1;
  padding: 20px;
  margin: 5% 0%;
  border-bottom: white 1px solid;
}

/* styled Table cell with meta information*/
.round-table-data {
  background: #fff1f1b3;
  border-radius: 17px;
  padding: 5px 0px;
  text-align: center;

}

table {
  margin-top:5px;
  margin-bottom:0px;
  font-size: 16px;
  width: 100%;
  color: #6d416d;
  border-spacing: 4px;
}

td {
  padding-right:15px;
}

td.bold-table-column {
  font-weight: 300;
  width: 120px;
  color: white;
}

.another-case-panel p{
  font-size: 14px;
  color: white;
  display: inline;
}

.another-case-panel{
  text-align: center;
}

.another-case-panel a{
  font-size: 14px;
  color: sandybrown;
  text-decoration: underline;
  display: inline;
}


/* Drop down menu styling */
select.table-2nd-column{
  width: 100%;
  height: 29px;
  border: 0px solid #a4a4a4; /*Same grey as default appearance*/
  font: 16px 'Roboto', sans-serif;
  color: #6d416d;
  background-color: #fff1f1b3;
  text-align-last: center;
}

h6 {
  color: white;
  font-size: 20;
  text-transform: uppercase;
  margin-top: 5;
  font-weight: 300;
  margin-bottom: 10px;
}

/* Button panel */
.button-panel {
  text-align: center;
}

div.button-panel button {
  background-color: #fff0;
  font-size: 18px;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-weight: 300;
  width: 170px;
  margin-left: 10px;
  margin-right: 10px;
}

div.button-panel button:hover {
  background-color: #fff;
  font-size: 18px;
  color: #6d416d;
  border-radius: 20px;
  padding: 10px;
  font-weight: 300;
  width: 170px;
  margin-left: 10px;
  margin-right: 10px;
}

.case-number-wrapper{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.case-number-wrapper p {
  display: inline;
  color: white;
  margin: 0;
}
div.case-number-wrapper h4 {
  display: inline;
  color:white;
  margin: 0;
}

/* 2nd view, Analyis and next steps */

/*Put Icon besides headline */
.icon-headline{
  height: 20px;
}

.icon-headline-block {
  display: flex;
}

.icon-headline-block h6 {
  margin:0px;
  padding-left: 15px;
}

/*decirption of headline below*/
p.amount-cases {
  color: white;
  font-weight: 100;
  font-size: 18px;
  margin-top:5px;
  margin-bottom:0;
}

/*next steps / to do section */
div.to-do-box {
  padding: 10px;
  background: white;
  display: flex;
  box-shadow: 3px 3px 7px 0px #33333387;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.to-do-box h4 {
  margin:0;
}

div.to-do-box div.checkbox-wrapper{
  width: 10%;

}

div.checkbox-wrapper input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:10px;
    border:1px solid sandybrown;
}
div.checkbox-wrapper input[type='radio']:checked {
    background: sandybrown;
}

div.to-do-box div.to-do-description{
  width: 75%;
}

div.to-do-metric{
  width: 15%;
  padding-left: 10px;
  border-left: solid 2px sandybrown;
}

div.to-do-description p {
  margin: 0px;
  font-size: 16px;
}

div.to-do-description p.next-steps-alternative-text{
  color: gray;
  font-size: 12px;
  margin-bottom: 5px;
}

p.metric-description {
  font-size: 12px;
  margin: 0;
}

/* --------- COLLEAGUE SECTION ----------*/

.contact-list {
  margin-top: 15px;
  box-shadow: 3px 3px 7px 0px #33333387;
}

div.contact-box {
  padding: 10px;
  background: white;
  display: flex;
  border-bottom: 1px solid #0000001f;
}

.colleague-image-wrapper {
  width: 20%;
}

.contact-description {
  width: 65%;
}

div.contact-description p.colleague-name {
  margin:0;
  font-weight: 500;
  font-size: 16px;
}

div.contact-description span{
  display: block;
}

div.contact-description p.colleague-position {
  margin:0;
  font-weight: 200;
  font-size: 16px;
}

div.contact-description p.colleague-contact-details {
  margin:0;
  font-weight: 200;
  font-size: 14px;
  display: inline;
}

div.contact-box h4 {
  margin:0;
}

/*-------- TASK DETAIL / RESOURCES SECTION  -------*/

img.file-icon {
  width: 60%;
}

a.file-name {
  font-size: 14px;
  color: rgb(0, 95, 178);
}

/*-------- ADD TASK TO SF SECTION -------*/
form.task-form input {
  width: 100%;
  height: 100%;
}

.task-form table {
  font-size: 16px;
}

.task-form input{
  font-size: 14px;
  padding: 5px;
  color: #6d416d;
}

form.task-form td {
  color: white;
}

#add-task-button{
  width: 250px;
}

/*---------------*/
.sub-content-block {
  margin-top: 5px;
}

.content-block {
  padding-top:10px;
}

.content-block_visible {
  display: block;
}

.content-block_invisible {
  display: none;
}


p.meta-description-colleague {
  color: #888;
}

#content-block-colleague{
  margin-top:25px;
}

div#content-block-colleague h5{
  font-size: 14px;
  margin:0;
}


ul.list-icon {
  list-style-image: url(img/emoji.png);
}

ul.list-icon li{
  padding-top: 5px;
  padding-bottom: 5px;
}

hr {
  margin:15px;
  border-color: #eee;

}

.colleague-foto{
    width: 80%;
    height: auto;
    border-radius: 100%;
}

.contact-image-wrapper{
  float:left;
  width: 100px;
}

#td-image-column{
  width: 30%;
}

#td-text-column{
  width: 70%;
}

.contact-box {
  height: auto;
}

.panel {
  position: relative;
  width: 95%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 11px 20px 11px 20px;
  background-image: radial-gradient(#7d436d, #4b2a4f);
  box-shadow: -1px -1px 15px 0px rgba(16,119,237,0.3);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 0px);
}

.panel::-webkit-scrollbar {
  width: 4px;
}
.panel::-webkit-scrollbar-thumb {
  background-color: #a5afbe;
  border-radius: 2px;
}

.panel_moved {
  transform: translate3d(0, 0, 0);
}
.panel__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 35px;
  border-radius: 4px 0px 0px 4px;
  background-color: #7d436d;
  position: absolute;
  top: 102px;
  left: -20px;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
  box-shadow: -3px 0px 4px 0px rgba(16,119,237,0.2);
}
.panel__icon img {
  transform: rotate(180deg);
  transition: transform 0.5s ease-out;
}
.panel__icon_opened img {
  transform: rotate(0deg);
}

.panel-main__logo {
  height: 100%;
}
.panel-main__logo-wrap {
  height: 30px;
}
.panel-main__top {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 5px;
  margin-top:20px;
}

div.panel-main__top img{
  height:80%;
}

.panel-main__menu {
  display: flex;
  position: relative;
  width: 100%;
  padding: 0 15px;
  transform: translateX(-20px);
  border-bottom: 1px solid rgba(165,175,190,0.2);
}
.panel-main__menu-tab {
  display: inline-block;
  margin-right: 11px;
  padding: 0 5px 5px;
  border-bottom: 3px solid #fff;
  color: #000;
  font-weight: 500;
  transition: color 0.2s ease-out, border 0.2s ease-out;
}

.panel-main__menu-tab_invisible {
  display: none;
}

.panel-main__menu-tab:nth-child(3) {
  margin-right: 0;
}
.panel-main__menu-tab:hover,
.panel-main__menu-tab_active {
  border-bottom: 3px solid #da3838;

  display:block;

  background: linear-gradient(to right, #FD52B9 0%, #da3838 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.panel-main__menu-tab_inactive {
  pointer-events: pointer;
}

.panel-main {
  margin-left: 75px;
  margin-right: 75px;
}

@-moz-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
